<!-- <table-overview-example></table-overview-example> -->
<!-- <app-content-projection>
  <div class="header ">
    <span class="float-left">remove</span>
    <div>delete</div>
    <h2></h2>
    <button (click)="register()">register</button>
  </div>
  <div class="body ">
    <p>thor will fight with hulk</p>
    <p>iron man will co-op with spiderman {{testBinding}}</p>
  </div>
</app-content-projection> -->
<!-- <app-loop-check></app-loop-check> -->
<app-change-detection></app-change-detection>